@import "styles/colors";

.dropdown {
  color: $black;
  background-color: $gray;
  width: 10rem;
  height: 2.5rem;
  font-size: 1.75rem;
  text-align: center;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}
