.node {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: green;
  color: white;
}

.highlighted {
  border: 0.2rem solid red;
}
