@import "styles/colors";

.node {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: $gray;
  color: $black;
}

.highlighted {
  border: 0.2rem solid red;
}
